.contenedor {
    height: 88.5vh;
    width: 100%;
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.usuario { 
    background-image:url(cuadrado2-removebg-preview.png);
    width: 80px;
    height: 80px;
    z-index: 99;
    background-position: center;
    background-size: 80px;
    box-shadow: 0px 80px 70px -18px #fff;
    left: 500px;
    position: absolute;
}

.menu {
    width: 95.7%;
    margin-left: 30px;
    height: 50px;
    background:#2f4f4f;
    box-shadow: inset 0px 0px 10px 5px rgb(24, 23, 23);
}


.puntos{
    color: #fff;
    font-size: 30px;
    display: inline-block;
    margin-top: 0;
    margin-left: 100px;
}


.tiempo{
    color: #fff;
    font-size: 30px;
    margin-left:500px;
    display: inline-block;
    margin-top:0px ;
}

.perdiste {
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: rgb(38, 6, 221);
    height: 28px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    margin-top:10 ;

}

.perdiste:hover{
    background-color: #333;
}


*{
    user-select: none;
}

.Mastiempo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    background: #fff;
}