.body{
    background-image: url(fondoInicio.png);
    background-position: center;
    height: 89vh;
    width: 99%;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

.a{
    padding: 100px;
    color: #fff;
    text-align: center;
}

.div{
    height: 50px;
    width: 100px;
    margin: auto;
    background-color:green;
    color: #fff;
    bottom: 100px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
