canvas{
    border: 1px solid black;
    /* display: none; */
}

body{
    background-color: black;
    position: relative;
}

iframe{
    resize: both;
}



.pelotita{
    width: 20px;
    height: 20px;
    background-color: rgb(3, 191, 47);
    border-radius: 50%;
    box-shadow: 0px 0px 18px 0px rgb(65, 235, 105);
    position: absolute;
    top: 0px;
    left: 0px;
}