*{
    padding: 0%;
    margin: 0%;
}


.contenedor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url('.././asset/bosque0_1.png');
    background-size: cover;
    z-index: 99;
}


.p{
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20%;    
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    animation: AparecerC 1s infinite alternate;
    font-size: 200%;
}



@keyframes AparecerC {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 

