<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/estilos.css">
    <title>Document</title>
</head>
<body>
    
<div class="contenedorP" id="contenedorP">
    <div class="contVida">
        <div class="vida" id="vida"></div>
    </div>
    <div class="contCargaH">
        <div class="hojasC" id="hojasC"></div>
    </div>
    
    <div class="contVidaBOSS" id="contVidaBOSS">
        <div class="vidaBOSS" id="vidaBOSS"></div>
    </div>



    <div class="menu" id="menu">
        <div class="opciones" id="controles">controles</div>
        <div class="opciones" id="salir">salir</div>
        <div class="opciones" id="reanudar">reanudar</div>
    </div>

    <div class="menu menu2" id="menu2">

        <p class="p">Derecha: <i class="i">ArrowRight</i></p>
        <p class="p">Izquierda: <i class="i">ArrowLeft</i></p>
        <p class="p">Salto: <i class="i">ArrowUp</i></p>
        <p class="p">Abajo: <i class="i">ArrowDown</i></p>
        <p class="p">Ataque 1: <i class="i">z</i></p>
        <p class="p">Ataque 2: <i class="i">x</i></p>
        <p class="p">Ataque 3: <i class="i">c</i></p>

        <button id="btnEnv2">normal</button>
        <button id="btnEnv3">cancelar</button>
        <button id="btnEnv">guardar</button>

    </div>


    <div class="Player" id="Player" ></div>
    <div class="mapaPiso" id="mapaPiso"></div>
    <p class="GAN" id="GANP">Ganaste</p>
</div>


<script src="js/codigo.js"></script>
</body>
</html>