*{
    user-select: none;
}

body{
    display: flex;
}

.contenedor{
    height: 550PX;
    width: 1400px;
    position: relative;
    background-image: url(cielo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    z-index: -1;
}

.dino{
    height: 150px;
    width: 20%;
    background-image: url(dinosebrio_quiet.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom:30px;
    left: 100px;
    z-index: 3;
}
.piso{
    height: 50px;
    width: 100%;
    position: absolute;
    background-image: url(tierra.png);
    background-repeat: repeat-x;
    background-size: contain;
    bottom: 0px;
    z-index: 1;
}

.score{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: cursive;
}

.vidaP{
    color:rgb(42, 255, 109);
    font-size: 20px;
    font-family: cursive;
}

.dinoE{
    height: 150px;
    width: 20%;
    background-image: url(dinosebrio_quiet.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom:30px;
    left: 1000px;
    transform: rotateY(180deg);
    z-index: 3;
    filter: grayscale(.9);
}

#bola{
    height: 50px;
    width: 100px;
    position: absolute;
    background: url(bolaFuego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    bottom: 60px;
    border-radius: 50%;
}

.energia{
    color:rgb(67, 242, 255);
    font-size: 20px;
    font-family: cursive;
}

.vidaP2{
    color:rgb(255, 196, 0);
    font-size: 20px;
    font-family: cursive;
}


.ganaste{
    color:rgb(0, 255, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 4;
    display: none;
    height: 100px;
    width: 100px;
    font-size: 100px;
    margin: auto;
}

.aIn{
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    position: absolute;
    top: 600px;
    right: 200px;
    text-align: center;
    box-shadow: 0px 0px 18px 0px #000 ;
}

.aIn2{
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    position: absolute;
    top: 600px;
    left: 200px;
    text-align: center;
    box-shadow: 0px 0px 18px 0px #000 ;
}


