.body{
    background: url(cielo2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 1300px;
    max-width: 1300px;
}

.h1{
    margin: auto;
    color: rgb(0, 255, 13);
    font-size: 150px;
    width: 800px;
    height: 200px;
}

.div{
        background-image: url(dinosebrio_quiet.png);
    background-repeat: no-repeat;    
    background-position: center;   
    background-size: 220px;
        margin-left: 450px;
        height: 200px;
        width: 400px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

}

a{ 
    position: absolute;
    top: 80px;
    display: inline-block;
    text-align: center;
   color: rgb(255, 255, 255);
    width: 400px;
    font-size: 30px;
    height: 200px;
}

.div:hover{
    background-size: 280px;
}

*{
    user-select: none;
}